<ul class="ch-grid">
  <li>
    <a href="https://www.facebook.com/landofspirits?ref=hl" target="_blank">
    <div class="ch-item ch-img-1">
      <div class="ch-info">
        <!--<h3>Like our</h3>-->
      </div>
    </div>
    </a>
  </li>
  <li>
    
    <a href="https://twitter.com/id_z" target="_blank">
    <div class="ch-item ch-img-2">
      <div class="ch-info">
      </div>
    </div>
    </a>
  </li>
  <li>
    <a href="http://vk.com/thelandofspirits" target="_blank">
    <div class="ch-item ch-img-3">
      <div class="ch-info">
        <!--<h3>Pink Lightning</h3>-->
        <!--<p>by Charlie Wagers <a href="http://drbl.in/ekhp">View on Dribbble</a></p>-->
      </div>
    </div>
    </a>
  </li>
</ul>

<!--
<div class="social-container">
    <a href="facebook.com" class="social">
        <span class="icon_twitter"></span>
        <span class="circle"></span>
    </a>
    <a href="twitter.com" class="social">
        <span class="icon_twitter"></span>
        <span class="circle"></span>
    </a>
    <a href="vk.com" class="social">
        <span class="icon_twitter"></span>
        <span class="circle"></span>
    </a>
</div>
-->
