<div class="social-container">
    <a href="facebook.com" class="social">
        <span class="icon_twitter"></span>
        <span class="circle"></span>
    </a>
    <a href="twitter.com" class="social">
        <span class="icon_twitter"></span>
        <span class="circle"></span>
    </a>
    <a href="vk.com" class="social">
        <span class="icon_twitter"></span>
        <span class="circle"></span>
    </a>
</div>

