<!doctype html>
<html style="background-color:grey;">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Land of Spirits</title>
        <link rel="stylesheet" href="assets/css/app.css">
        <link rel="author" href="humans.txt">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    </head>
    <body style="background-color:grey;margin-bottom-40px;">

<!--GALLERY-->
<!--<li><img class="img-responsive" src="assets/img/gallery-faces/afgan.jpg" alt="" title="Generic Caption"></li>-->
        <a name="gallery"></a>    
        <div class="gallery-container">
            <div class="container">

                <div class="gallery-header">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-5">
                            <span id="title">People</span>
                        </div>
                        <div class="col-md-2">
                            <span id="counter"></span>
                        </div>
                    </div>
                </div>
                
                <!-- Faces -->
                <div id="faces" class="active">
                    <ul class="bxslider">

                        <%for (var i=0; i<gallery[1].GalleryFaces.length; i++){%>
                            <li><img class="img-responsive" <%-gallery[1].GalleryFaces[i]%> ></li>
                        <%}%>
                        
                         
                    </ul>
                </div>
                
                <!-- Landscape -->
                <div id="landscapes" class="hidden">
                    <ul class="bxslider">

                        <%for (var i=0; i<gallery[2].GalleryLandscape.length; i++){%>
                            <li><img class="img-responsive" <%-gallery[2].GalleryLandscape[i]%> ></li>
                        <%}%>
                    </ul>
                </div>

                <!-- Crew -->

                <div id="crew" class="hidden">
                    <ul class="bxslider">

                        <%for (var i=0; i<gallery[0].GalleryCrew.length; i++){%>
                            <li><img class="img-responsive" <%-gallery[0].GalleryCrew[i]%> ></li>
                        <%}%>


                    </ul>
                </div>
        
                <div class="row">
                    <div id="albumFaces" class="col-md-4 gallery-album"><span>People</span>
                        <img class="album img-responsive" src="assets/img/gallery-faces/afgan.jpg" alt="">
                    </div>

                    <div id="albumLandscapes" class="col-md-4 gallery-album"><span>Landscapes</span>
                        <img class="album img-responsive" src="assets/img/gallery-landscapes/flowers.jpg" alt="">
                    </div>

                    <div id="albumCrew" class="col-md-4 gallery-album"><span>Crew</span>
                        <img class="album img-responsive" src="assets/img/gallery-crew/inside-boat.jpg" alt="">
                    </div>
                </div><!--/.row-->

            </div><!--/container-gallery-->     
        </div>
        <script src="assets/js/app.min.js"></script>
    </body>
</html>        
