<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Land of Spirits</title>
        <link rel="stylesheet" href="assets/css/app.css">
        <link rel="author" href="humans.txt">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    </head>
    <body>

<!--GALLERY-->
<!--<li><img class="img-responsive" src="assets/img/gallery-faces/afgan.jpg" alt="" title="Generic Caption"></li>-->
        <a name="gallery"></a>    
        <div class="gallery-container">
            <div class="container">

                <div class="gallery-header">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-5">
                            <span id="title">People</span>
                        </div>
                        <div class="col-md-2">
                            <span id="counter"></span>
                        </div>
                    </div>
                </div>
                
                        
                <!-- Faces -->
                <div id="faces" class="active">
                    <ul class="bxslider">
                        <li><img class="img-responsive" src="assets/img/gallery-faces/afgan.jpg" alt="Afgan" title="Afgan from Dalny Kezek"></li>
                        
                        <li><img class="img-responsive" src="assets/img/gallery-faces/anita.jpg" alt="Anita" title="Our guide Anita Topakova"></li>

                         <li><img class="img-responsive" src="assets/img/gallery-faces/luba.jpg" alt="the queen of Shoria" title="Lubov, according to her husband, the queen of Shoria"></li>
                        
                        <li><img class="img-responsive" src="assets/img/gallery-faces/matvey-with-sister.jpg" alt="Daria the princess" title="Meet Daria - the King's little princess"></li>
                        
                        <li><img class="img-responsive" src="assets/img/gallery-faces/children-1.jpg" alt="King's grandchildren" title="King's grandchildren: Matvey, Alina, 
                        Daria and their friends"></li>
                        
                        <li><img class="img-responsive" src="assets/img/gallery-faces/children-2.jpg" alt="Siberian husky and children" title="Siberian husky named Saryn with kids"></li>
                        
                        
        
                        <li><img class="img-responsive" src="assets/img/gallery-faces/girl-on-the-swing.jpg" alt="girls-on-the-swing" title="Alina and Dasha invented the swing from handy materials they found at the King's house."></li>
                       
                        <li><img class="img-responsive" src="assets/img/gallery-faces/mom-with-daughter-washing.jpg" alt="Mom and daughter washing the cloth" title="Little girl helps her mom to wash the cloth in the Anzas river"></li>


                        <li><img class="img-responsive" src="assets/img/gallery-faces/fedya-pacechnik.jpg" alt="beekeeper Fedya talks" title="In Ust Anzas we've met beekeeper Fedya.  His honey contains unique combination of herbs from taiga. He gave us to try one of the best honey in the world."></li>

                        <li><img class="img-responsive" src="assets/img/gallery-faces/bees.jpg" alt="Fedya's bees" title="Fedya's bees"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-faces/fedya.jpg" alt="Beekeeper Fedya" title="Fedya talks with enthusiasm about his bees."></li>

                        <li><img class="img-responsive" src="assets/img/gallery-faces/boy-with-cat.jpg" alt="A boy with a cat" title="Fedya's son with a cat"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-faces/fedyas-wife.jpg" alt="Fedya's wife" title="Fedya's wife"></li>
                        

                        <li><img class="img-responsive" src="assets/img/gallery-faces/nastachi-with-dad.jpg" alt="Nastachi with dad" title="Nastachi with dad in the summer house"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-faces/nastachi.jpg" alt="Nastachi" title="Nastachi. The little spoon hang on her cradle in the summer house. We asked why. The reason is to ask spirits to give a child outstanding cooking abilities."></li>


                        <li><img class="img-responsive" src="assets/img/gallery-faces/boy-in-bed.jpg" alt="young hunter" title="The future hunter in handmade cradle. There was a tradition in shor villages to hung a small wooden bow in the child's bed. Shors believed that spirits will give a strength and the boy will become a hunter. Now this tradition is almost lost."></li>

                        <li><img class="img-responsive" src="assets/img/gallery-faces/little-girl.jpg" alt="little Alina" title="Little Alina every day waited for us and asked us to show her all our equipment and let her play with it."></li>
                       
                        <li><img class="img-responsive" src="assets/img/gallery-faces/eldar.jpg" alt="Eldar" title="Little Eldar - a grand-nephew of King's family"></li>
                        
                        <li><img class="img-responsive" src="assets/img/gallery-faces/eldar-with-onion.jpg" alt="..." title="New harvest"></li>
                        
                        <li><img class="img-responsive" src="assets/img/gallery-faces/camilla.jpg" alt="..." title="Eldar's sister - Camilla"></li>
                        
                        <li><img class="img-responsive" src="assets/img/gallery-faces/two-girls.jpg" alt="..." title="Two girls"></li>
                        
                        <li><img class="img-responsive" src="assets/img/gallery-faces/babushkin.jpg" alt="..." title="Vasily Babushkin from Kazas village, a son of a Big Stepan, the best hunter of that region."></li>
                        
                        <li><img class="img-responsive" src="assets/img/gallery-faces/grandma-from-kazas.jpg" alt="Antonina" title="Grandma Antonina from Kazas village"></li>
                        
                        <li><img class="img-responsive" src="assets/img/gallery-faces/guy-with-bike.jpg" alt="guy-with-bike" title="A young Shor guy we met in Balyksa village, Hakassia"></li>
                        
                         
                    </ul>
                </div>
                
                <!-- Landscape -->
                <div id="landscapes" class="hidden">
                    <ul class="bxslider">

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/shor-symbol-with-girl.jpg" alt="..." title="The Main Shor Monument in Tashtagol city made by Buryat sculptor Dashi Namdakov."></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/shor-symbol.jpg" alt="Manuel and Shor monument" title="Manuel says hi to the main Shor sculpture - A Turkic Girl Riding A Mammoth"></li>


                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/cemetery.jpg" alt="Ust-Anzas cemetery" title="Ust-Anzas cemetery"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/flowers.jpg" alt="Medow On The Taz Gol Mountain" title="Medow On The Taz Gol Mountain"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/forest-berry.jpg" alt="Taiga Berry" title="Taiga Berry"></li>


                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/grass-sunset.jpg" alt="Sunset" title="Sunset"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/horse.jpg" alt="A Mysterious Horse" title="A Mysterious Horse"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/longshot-flowers.jpg" alt="flowers" title="Flowers"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/raising-cloud.jpg" alt="The medows of Taz Gol mountain" title="The medows of Taz Gol mountain"></li>

                         <li><img class="img-responsive" src="assets/img/gallery-landscapes/red-horses.jpg" alt="Red horses" title="Red horses"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/river.jpg" alt="Mras Su river" title="Mras Su river"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/stream.jpg" alt="Ust Anzas river" title="Ust Anzas river"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/taz_gol.jpg" alt="Taz Gol mountain" title="Taz Gol mountain"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/ust-anzas-village.jpg" alt="Ust Anzas" title="Ust Anzas"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/violet-flowers.jpg" alt="Wild flowers" title="Wild flowers"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/violet-flowers-horizontal.jpg" alt="Violet flowers" title="Violet flowers"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/wooden-bridge.jpg" alt="Fairytale bridge" title="Fairytale bridge"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/mermaid-view.jpg" alt="mermaid view" title="Mermaid view"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/mountain-boat.jpg" alt="..." title="Generic Caption"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/rock.jpg" alt="..." title="Generic Caption"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/rock-from-water.jpg" alt="..." title="Generic Caption"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/tsar-gates.jpg" alt="..." title="Tsar Gate"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/two-birch-trees.jpg" alt="On the Mras Su river" title="On the Mras Su river"></li>


                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/wave.jpg" alt="On the boat" title="On the boat"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/branch.jpg" alt="" title="Branch"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/cloud.jpg" alt="" title="Cloud"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/koluchka.jpg" alt="" title=""></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/mount.jpg" alt="" title="Mount"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/mras-from-the-top.jpg" alt="" title="Mras"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/river-from-the-hill.jpg" alt="" title="River"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/tree-on-the-hill.jpg" alt="" title="Tree"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-landscapes/ust-anzas-village.jpg" alt="" title="Ust-Anzas"></li>
                    </ul>
                </div>

                <!-- Crew -->

                <div id="crew" class="hidden">
                    <ul class="bxslider">

                        <li><img class="img-responsive" src="assets/img/gallery-crew/before-trip.jpg" alt="" title="Before the trip"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-crew/with_snowman.jpg" alt="with snowman" title="Shors belive that in their taiga live another type of human species - snowmen. Some Shors say that that they saw a hairy man roaming the taiga. We met the family of them at the gas station."></li>

                        <li><img class="img-responsive" src="assets/img/gallery-crew/manny-with-shorian-symbol.jpg" alt="..." title="Manuel says hi to the mammoth"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-crew/vera_walks.jpg" alt="" title="Vera"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-crew/vera-saryn.jpg" alt="Vera with Saryn" title="Vera with Saryn"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-crew/manuel-overcomes.jpg" alt="" title="Manuel"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-crew/manuel-in-tazgol.jpg" alt="Manuel is hiking" title="Manuel is hiking"></li>
                      
                        <li><img class="img-responsive" src="assets/img/gallery-crew/masha-shoots.jpg" alt="Manuel is hiking" title="Masha shoots"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-crew/team-is-walking.jpg" alt="" title="team is walking"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-crew/mike-with-bags.jpg" alt="Manuel is hiking" title="Mike with bags"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-crew/panoramic-shot-boat-with-equipment.jpg" alt="Transfering our stuff on the boat" title="Transfering our stuff on the boat"></li>
                        

                        <li><img class="img-responsive" src="assets/img/gallery-crew/crew-on-the-boat.jpg" alt="..." title="On the boat"></li>


                        <li><img class="img-responsive" src="assets/img/gallery-crew/tsar-gates-crew.jpg" alt="The crew is shooting the panorama from the Tsar Gate" title="The crew is shooting the panorama from the Tsar Gate"></li>

                        <li><img class="img-responsive" src="assets/img/gallery-crew/mike-with-camera.jpg" alt="" title="Mike with camera"></li>


                    </ul>
                </div>
        
                <div class="row">
                    <div class="col-md-4 gallery-album">People
                        <img id="albumFaces" class="album img-responsive" src="assets/img/gallery-faces/afgan.jpg" alt="">
                    </div>

                    <div class="col-md-4 gallery-album">Landscapes
                        <img id="albumLandscapes" class="album img-responsive" src="assets/img/gallery-landscapes/flowers.jpg" alt="">
                    </div>

                    <div class="col-md-4 gallery-album">Crew
                        <img id="albumCrew" class="album img-responsive" src="assets/img/gallery-crew/crew-on-the-boat.jpg" alt="">
                    </div>
                </div><!--/.row-->

            </div><!--/container-gallery-->     
        </div>
        <script src="assets/js/app.min.js"></script>
    </body>
</html>        
