<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Land of Spirits</title>
        <link rel="stylesheet" href="assets/css/app.css">
        <link rel="author" href="humans.txt">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    </head>
    <body>

    	<div class="StoryPage1">
    		<img src="assets/img/story-1/vera_walks.jpg" alt="">
			<span>Aigan - sacred mountain</span>
			<p>~1000 meters above the sea level mountain has 9 peaks...</p>
    	</div>

    	<div class="StoryPage">
    		<span>Yo man</span>
    		<img src="assets/img/story-1/vera_walks.jpg" alt="">
    	</div>
        
        <script src="assets/js/app.min.js"></script>
    </body>
</html>